:root{
    /* FONT */
    --font-dm-sans: "Dm Sans", sans-serif;

    /* COLORS */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);

    --grid-gap: 24px;
    --column-count: 5;
  
    /* Fonts */
    --font-dm-sans: "DM Sans", sans-serif;
  }
  
  /* MEDIA QUERYS */
  @media screen and (max-width: 767px) {
  }
  
  @media screen and (min-width: 768px) and (max-width: 1274px) {
  }


